/* ===================== 
       Colour Palette
   ===================== */
/* ===================== 
        Typography 
   ===================== */
@font-face {
  font-family: "LoveLetter";
  src: url("/assets/fonts/LoveLetter.TTF");
}
@font-face {
  font-family: "OpenSans";
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "VT323";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/VT323-Regular.ttf") format("truetype");
}
/* ===================== 
          Layout
   ===================== */
/* ===================== 
          Reset
   ===================== */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ===================== 
        Global Styles
   ===================== */
body {
  text-align: center;
  background-color: #343a40;
}

p {
  font-family: "OpenSans", sans-serif;
  font-size: 1.5rem;
}

span {
  font-family: "VT323";
}

h1, h2, h3, h4, h5, h6 {
  font: "LoveLetter";
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  background-color: #66CCDA;
  color: #000000;
  font-family: "VT323";
  font-size: 1.5rem;
  padding: 5px 40px;
  margin: 10px 10px;
  border: solid 4px #0394BB;
  cursor: pointer;
}

.parent {
  display: grid;
  grid-template-columns: 200px repeat(4, 1fr);
  grid-template-rows: 60px 50px repeat(3, 1fr) 150px;
  height: 100vh;
  width: 100vw;
  gap: 0;
}

.navbar {
  grid-column: span 5/span 5;
  grid-column-start: 1;
  grid-row-start: 1;
  color: #646464;
  font-family: "LoveLetter";
  background-color: #66CCDA;
  padding: 18px;
  display: flex;
  align-items: center;
}

.topBar {
  grid-column: span 5/span 5;
  grid-column-start: 1;
  grid-row-start: 2;
  border-bottom: solid 2px #66CCDA;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 200px 200px 1fr;
  gap: 0;
  align-items: center;
  font-size: 1.725rem;
}
.topBar .topBarProfile {
  border-right: solid 2px #66CCDA;
  padding: 5px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.topBar .topBarProfile .pfpImage {
  border-radius: 50px;
  background: url(/assets/images/ado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  margin: 0px 10px;
  cursor: pointer;
}
.topBar .topBarProfile .pfp {
  display: none;
}
.topBar .topBarProfile .settingsImage {
  background: url(/assets/images/settings.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.topBar .topBarProfile .settings {
  display: none;
}
.topBar .topBarChannel {
  border-right: solid 2px #66CCDA;
  white-space: nowrap;
  margin-left: 10px;
  text-align: left;
  padding: 5px 0;
}
.topBar .topBarChannel span {
  padding-left: 20px;
  border-left: solid 2px #66CCDA;
  color: #646464;
}
.topBar .topBarTime {
  color: #66CCDA;
  margin-left: 10px;
  text-align: left;
  padding: 5px 0;
}

.chatsSection {
  grid-row: span 4/span 4;
  grid-column-start: 1;
  grid-row-start: 3;
  padding: 10px 0;
  border-right: solid 2px #66CCDA;
  padding-bottom: 1rem;
  overflow-y: auto;
}
.chatsSection .chatsText {
  font-family: "LoveLetter";
  display: block;
  text-align: center;
  padding-bottom: 1rem;
}
.chatsSection .button {
  background-color: #66CCDA;
  color: #000000;
  font-family: "VT323";
  font-size: 1.5rem;
  padding: 5px 40px;
  margin: 10px 10px;
  border: solid 4px #0394BB;
  cursor: pointer;
  left: 10px;
  top: 10px;
}
.chatsSection .button:hover {
  transition: 350ms ease-in-out;
  background-color: #0394BB;
}
.chatsSection ::-webkit-scrollbar {
  width: 20px;
  background-color: #66CCDA;
}
.chatsSection ::-webkit-scrollbar-thumb {
  background-color: #66CCDA;
}
.chatsSection ::-webkit-scrollbar-track {
  background-color: #343a40;
}
.chatsSection .scrollable {
  overflow-y: scroll;
  height: 100%;
}

.textSection {
  grid-column: span 4/span 4;
  grid-row: span 3/span 3;
  grid-column-start: 2;
  grid-row-start: 3;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.textSection ::-webkit-scrollbar {
  width: 20px;
  background-color: #66CCDA;
}
.textSection ::-webkit-scrollbar-thumb {
  background-color: #66CCDA;
}
.textSection ::-webkit-scrollbar-track {
  background-color: #343a40;
}
.textSection .scrollable {
  overflow-y: scroll;
  height: 100%;
}

.messageButtonsWrapper {
  display: flex;
  margin-top: -56px;
  margin-left: 50px;
  padding: 10px 10px;
  position: absolute;
}
.messageButtonsWrapper .chatButtonWrapper input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.messageButtonsWrapper .chatButtonWrapper label {
  border-top: solid 8px rgba(102, 204, 218, 0.3137254902);
  border-right: solid 8px rgba(102, 204, 218, 0.3137254902);
  border-bottom: solid 8px #66CCDA;
  border-left: solid 8px rgba(102, 204, 218, 0.3137254902);
  font-family: "VT323";
  font-size: 1.725rem;
  padding: 4px 24px;
  background-color: transparent;
  color: #66CCDA;
  cursor: pointer;
}
.messageButtonsWrapper .chatButtonWrapper input:checked ~ label {
  border-top: solid 8px #66CCDA;
  border-right: solid 8px #66CCDA;
  border-bottom: solid 8px #343a40;
  border-left: solid 8px #66CCDA;
  font-family: "VT323";
  font-size: 1.725rem;
  padding: px 24px;
  background-color: transparent;
  color: #66CCDA;
}
.messageButtonsWrapper .shareButtonWrapper input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  float: left;
}
.messageButtonsWrapper .shareButtonWrapper label {
  border-top: solid 8px rgba(102, 204, 218, 0.3137254902);
  border-right: solid 8px rgba(102, 204, 218, 0.3137254902);
  border-bottom: solid 8px #66CCDA;
  border-left: solid 8px rgba(102, 204, 218, 0.3137254902);
  font-family: "VT323";
  font-size: 1.725rem;
  padding: 4px 24px;
  background-color: transparent;
  color: #66CCDA;
  cursor: pointer;
}
.messageButtonsWrapper .shareButtonWrapper input:checked ~ label {
  border-top: solid 8px #66CCDA;
  border-right: solid 8px #66CCDA;
  border-bottom: solid 8px #343a40;
  border-left: solid 8px #66CCDA;
  font-family: "VT323";
  font-size: 1.725rem;
  padding: 4px 24px;
  background-color: transparent;
  color: #66CCDA;
}

.textInputSection {
  grid-column: span 4/span 4;
  grid-column-start: 2;
  grid-row-start: 6;
  margin-left: 4px;
  border-top: solid 8px #66CCDA;
  position: relative;
}
.textInputSection .fileUploadButton {
  background: url(/assets/images/mumenupload.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  float: left;
  margin: 10px 10px;
  cursor: pointer;
}
.textInputSection .fileUpload {
  display: none;
}
.textInputSection .inputBox {
  background-color: transparent;
  color: #646464;
  font-family: "VT323";
  font-size: 1.5rem;
  border: none;
  padding: 10px 10px;
  width: 75%;
  float: left;
  height: 8vh;
  resize: none;
  overflow: hidden;
}
.textInputSection .inputBox:focus {
  border: none;
  outline: none;
  caret-color: #66CCDA;
}
.textInputSection .inputBox:focus::-moz-placeholder {
  color: transparent;
}
.textInputSection .inputBox:focus::placeholder {
  color: transparent;
}
.textInputSection .button {
  background-color: #66CCDA;
  color: #000000;
  font-family: "VT323";
  font-size: 1.5rem;
  padding: 5px 40px;
  border: solid 4px #0394BB;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.textInputSection .button:hover {
  transition: 350ms ease-in-out;
  background-color: #0394BB;
}

.countWrapper {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.countWrapper .charCount {
  font-family: "VT323";
  font-size: 1.5rem;
  color: #66CCDA;
}

.userText {
  color: #DD8E32;
  font: "LoveLetter";
  font-size: 1.125;
  font-weight: 400;
}

.othersText {
  color: #13801D;
  font: "LoveLetter";
  font-size: 1.125;
  font-weight: 400;
}

.adminText {
  color: #467592;
  font: "LoveLetter";
  font-size: 1.125;
  font-weight: 400;
}

.mentionText {
  color: #3a3af8;
  font: "LoveLetter";
  font-size: 1.125;
  font-weight: 400;
}